<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
  <link rel="stylesheet" type="text/css" href="/css/reset-password.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Password Reset</h1>
  
    <form action="/reset-password/<%= token %>" method="POST">
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" required>
      <label for="confirm-password">Confirm New Password:</label>
      <input type="password" id="confirm-password" name="confirmPassword" required>
      <button type="submit">Reset Password</button>
    </form>
  </div>

  <script>
    <% if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type: 'success',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>

    <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>
</script
</body>
</html>
